@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    background-color: bisque;
    
}

.trayectoria{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    align-content: center;
    align-self: center;
    background-color: burlywood;
}
p{
    font-family: "Montserrat", sans-serif;
}
h1 {
    color: black;
}
h2 {
    color: black;
}


